.auth-screen {
  height: 100vh;
  width: 100vw;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.welcome-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 24px;
  color: #673ab7;
  ;
  letter-spacing: -0.5px;
  text-align: center;
}

.login-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 40px;
  width: 380px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card-header {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #212121;
}

.input-section {
  text-align: left;
  margin-bottom: 20px;
}

.label-box {
  font-size: 13px;
  font-weight: 300;
  color: #666666;
  margin-bottom: 6px;
  display: block;
}

.custom-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  background: white;
  box-sizing: border-box;
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.custom-input:focus {
  border-color: #673ab7;
  outline: none;
}

.continue-btn {
  width: 100%;
  background-color: #673ab7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s;
}

.continue-btn:hover {
  background-color: #673ab7;
  ;
}

.signup-text {
  margin-top: 30px;
  font-size: 14px;
  color: #673ab7;
  ;
}

.create-btn {
  width: 100%;
  background-color: white;
  color: #673ab7;
  border: 1px solid #673ab7;
  border-radius: 4px;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  margin-top: 5px;
  transition: background 0.2s;
}

.create-btn:hover {
  background-color: #673ab7;
}